<!doctype html>
<html lang="en-us">
<head>
  <meta content="noindex" name="robots">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Wowchemy CMS</title>
  <!-- Include Netlify Identity for authentication. -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
<!-- Include the latest Netlify CMS v2.x.x script that builds the admin panel. -->
<script src="https://gist.githubusercontent.com/cleeyv/57dce5a7fd31ecdfe24be9e908cc2b73/raw/8f392b97fbef84bddd959512f1faa9f47fce3a5b/netlify-cms.min.js"></script>
</body>
</html>
